

/* General button style */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


/* Button lg */
.btn-lg {
  border-radius: 2px;
}

/* Button white */
.btn-lg-white {
	overflow: hidden;
  color: #C0D3D9;
  border: solid #C0D3D9 2px;
}

.btn-lg-white:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #C0D3D9;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-lg-white:hover,
.btn-lg-white:active {
	color: white;
}

.btn-lg-white:hover:after {
	height: 260%;
	opacity: 1;
}

.btn-lg-white:active:after {
	height: 400%;
	opacity: 1;
}


.btn-lg-white {
  overflow: hidden;
  color: #C0D3D9;
}


/* Button blue*/
.btn-lg-blue {
	overflow: hidden;
  color: white;
  border: solid white 2px;
}

.btn-lg-blue:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: white;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-lg-blue:hover,
.btn-lg-blue:active {
	color: #C0D3D9;
  background-color: white;
	transition-duration: 0.6s;
}

.btn-lg-blue:hover:after {
	height: 260%;
	opacity: 1;
}

.btn-lg-blue:active:after {
	height: 400%;
	opacity: 1;
}
