@import url(https://fonts.googleapis.com/css?family=Quicksand);

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #F9E7E5;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: solid 1px white;
    outline: none;
    transition: 0.4s;
    border-radius: 5px;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
}

/* Add a background color to the button when clicked or hovered */
button.accordion.active, button.accordion:hover {
    background-color: #f9e5ed;
}

/* Style the accordion panel. */
div.panel {
   padding: 0;
   background-color: white;
   max-height: 0;
   overflow: hidden;
   transition: 0.6s ease-in-out;
   opacity: 0;
   text-align: center;
   font-family: "Quicksand", sans-serif;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    opacity: 1;
   max-height: 500px;
}

button.accordion:after {
    content: "\2193"; /*unicode character for down arrow */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2191"; /* Unicode character for up arrow */
}
