body {
  margin: 0;
  font-family: sans-serif;
}

.container-fluid {
  height: 100%;
  background-color: #C0D3D9;
}

.jumbotron img {
   width: 100%;
   height: 100%;
 }

.jumbotron {
  position: relative;
}


#home {
  height: 100%;
  width:100%;
  text-align: center;
}

p {
  color: #a8a8a8;
}


.box-container {
    width: 100%;
}

.box-half {
    box-sizing: border-box;
    width: 50%;
    float: left;
    text-align: center;
    padding: 0 15px;
}

.box-third {
  box-sizing: border-box;
  width: 33.333333%;
  float: left;
  text-align: center;
  padding: 0 15px;
}

.box-third-image {
  padding: 0px;
}

.box-quarter {
  box-sizing: border-box;
  width: 25%;
  float: left;
  text-align: center;
  padding: 0 15px;
}


#picOne, #picTwo, #picThree {
  display: none;
}

#recipes {
    height: 1000px;
    background-color: lightblue;
}
