
@import url(https://fonts.googleapis.com/css?family=Quicksand);

#navbar {
  background-color: white;
  height: 200px;
  z-index: 1000;
  width: 100%;
  position: fixed;
}


.navbar-links {
 text-align: center;
   padding-top: 10px;
}

.navbar-links li {
    display: inline;
}


#navbar a {
    color: #1C356D;
    font-family: "Quicksand", sans-serif;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
    padding: 10px;
}

#navbar a:hover {
  color: #E5D372;
  border-bottom: solid 2px #E5D372;
  transition: 0.2s;
}

#navbar-brand {
  text-align: center;
  margin: 15px 0px 15px 0px;
}

.navbar-smallLogo {
  float: left;
  display: block;
}

/*Class to hide small logo until its add on scroll */
.navbar-smallLogo-hidden {
  float: left;
  display: none;
}

.navbar-collapsed {
  margin-left: 100px;
  margin-right: 100px;
}
